tqdm==4.38.0
spacy==3.3.0
pyinflect
pymorphy2
openai
gpt3
googletrans==4.0.0rc1
keybert
langdetect
transformers==4.9.0
streamlit
pydub
boto3==1.24.7
torchaudio
pdfkit
PySoundFile
ffmpeg
markdown
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.3.0/ru_core_news_lg-3.3.0.tar.gz
